{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false
      }
    ],
    "no-console": "error",
    "no-extra-semi": "off"
  }
}
